flows.json
[{"id":"a54bf78e.9a9c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"a54bf78e.9a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":514.3333129882812,"y":459.2222900390625,"wires":[]},{"id":"15eb0cc4.8203d3","type":"ui_form","z":"a54bf78e.9a9c","name":"","label":"Kindly enter the correct Statistics","group":"d0917d73.1a7c3","order":0,"width":"0","height":"0","options":[{"label":"Adult Mortality Rate","value":"a","type":"number","required":true,"rows":null},{"label":"Number of Infant Deaths per 1000 population","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) ","value":"c","type":"number","required":true,"rows":null},{"label":"Expenditure on health as a percentage of Gross Domestic Product per capita(%) ","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B (HepB) immunization coverage among 1-year-olds (%)","value":"e","type":"number","required":true,"rows":null},{"label":"Measles - number of reported cases per 1000 population ","value":"f","type":"number","required":true,"rows":null},{"label":"Average Body Mass Index of entire population ","value":"g","type":"number","required":true,"rows":null},{"label":"Number of under-five deaths per 1000 population ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio (Pol3) immunization coverage among 1-year-olds (%) ","value":"i","type":"number","required":true,"rows":null},{"label":"General government expenditure on health as a percentage of total government expenditure (%)","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)","value":"k","type":"number","required":true,"rows":null},{"label":"Deaths per 1 000 live births HIV/AIDS (0-4 years) ","value":"l","type":"number","required":true,"rows":null},{"label":"Gross Domestic Product per capita (in USD) ","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Prevalence of thinness among children and adolescents for Age 10 to 19 (% ) ","value":"o","type":"number","required":true,"rows":null},{"label":"Prevalence of thinness among children for Age 5 to 9(%) ","value":"p","type":"number","required":true,"rows":null},{"label":"Human Development Index in terms of income composition of resources (index ranging from 0 to 1)","value":"q","type":"number","required":true,"rows":null},{"label":"Number of years of Schooling(years)","value":"r","type":"number","required":true,"rows":null},{"label":"Is the country developed?","value":"s","type":"switch","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":false},"payload":"","submit":"Predict","cancel":"Re-enter","topic":"Deployment of ML model","x":74.77772521972656,"y":394.0666809082031,"wires":[["982b8df4.9b0ee"]],"l":false},{"id":"982b8df4.9b0ee","type":"function","z":"a54bf78e.9a9c","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\n\nvar apikey=\"5GokVWl8ocAJfUOqljKOnCsZnm-HDZp3qPKWRb_ZwKBH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":157.11112128363715,"y":321.11109415690106,"wires":[["e6c31ed1.cc8e9"]],"l":false},{"id":"e6c31ed1.cc8e9","type":"http request","z":"a54bf78e.9a9c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":260.4444885253906,"y":259.1111145019531,"wires":[["ed071afb.5567a8"]],"l":false},{"id":"ed071afb.5567a8","type":"function","z":"a54bf78e.9a9c","name":"Setting Variables","func":"\nvar token=msg.payload.access_token;\n\nvar instance_id= \"c17c2c1c-c1f7-4ebd-a693-06a0961738cb\";\n\nmsg.headers  = {'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\nvar a=   global.get(\"a\",msg.payload.a);\nvar b=   global.get(\"b\",msg.payload.b);\nvar c=   global.get(\"c\",msg.payload.c);\nvar d=   global.get(\"d\",msg.payload.d);\nvar e=   global.get(\"e\",msg.payload.e);\nvar f=   global.get(\"f\",msg.payload.f);\nvar g=   global.get(\"g\",msg.payload.g);\nvar h=   global.get(\"h\",msg.payload.h);\nvar i=   global.get(\"i\",msg.payload.i);\nvar j=   global.get(\"j\",msg.payload.j);\nvar k=   global.get(\"k\",msg.payload.k);\nvar l=   global.get(\"l\",msg.payload.l);\nvar m=   global.get(\"m\",msg.payload.m);\nvar n=   global.get(\"n\",msg.payload.n);\nvar o=   global.get(\"o\",msg.payload.o);\nvar p=   global.get(\"p\",msg.payload.p);\nvar q=   global.get(\"q\",msg.payload.q);\nvar r=   global.get(\"r\",msg.payload.r);\nvar s=   global.get(\"s\",msg.payload.s);\n\nmsg.payload=\n{\"fields\": ['Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure',\n       'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio',\n       'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',\n       ' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling', 'Developed'],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n       \n\nreturn msg;","outputs":1,"noerr":0,"x":352.3333435058594,"y":374.4444274902344,"wires":[["733bd089.38f58"]],"l":false},{"id":"733bd089.38f58","type":"http request","z":"a54bf78e.9a9c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c17c2c1c-c1f7-4ebd-a693-06a0961738cb/deployments/9e7c5cdb-1013-478f-9c4e-853fadf856b4/online","tls":"","persist":false,"proxy":"","authType":"","x":446.000010172526,"y":314.66666327582465,"wires":[["f2f2649a.0d0d98","4336c946.958ee8"]],"l":false},{"id":"4336c946.958ee8","type":"function","z":"a54bf78e.9a9c","name":"Formatting Output","func":"msg.payload= msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":613.7777879503038,"y":277.7777608235677,"wires":[["f5d30f57.94c57","cf396cf0.d2442"]],"l":false},{"id":"f5d30f57.94c57","type":"ui_text","z":"a54bf78e.9a9c","group":"d0917d73.1a7c3","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy:","format":"{{msg.payload}}","layout":"row-spread","x":701.5555657280815,"y":362.000003390842,"wires":[],"l":false},{"id":"cf396cf0.d2442","type":"debug","z":"a54bf78e.9a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":676.6666497124565,"y":171.77776760525174,"wires":[],"l":false},{"id":"d0917d73.1a7c3","type":"ui_group","z":"","name":"Deployed Model","tab":"d1891b9.7a5fae8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1891b9.7a5fae8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]